// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

// .example-full-width {
//   width: 100%;
// }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

// .container{
//   // justify-content: center;
//   // top: 50px;;
// // position: c/;
//   // left: ;
//   margin: auto;
//   // text-align: center;
// }
// .container{
//   background-color: azure;
// width: 70vw ;
// height: 70vh;


// }

form{
  // \
  margin: auto;
}

mat-card{
  margin: auto;
  width: 50%;
  height: auto;
  // top: 5%;
  // top: 4em;
  // pos
}
mat-card-content{
  font-size: large;
  color: indigo;
}
