<mat-card>
  <div class="container  text-center">


    <mat-card-content class="m-5">Employee Applied Form</mat-card-content>
    <button class="example-full-width" (click)="fetchData()"  mat-raised-button color="primary">Fetch Data</button>

    <mat-card class="mt-3">
      <mat-card-content class="m-3">{{GPN}}</mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content class="m-3">{{AppliedLeaveTypes}}</mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content class="m-3">{{isactive}}</mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content class="m-3">{{comment}}</mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content class="m-3">{{Duration_date}}/{{Duration_month}}/{{Duration_year}}</mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content class="m-3">Simple card</mat-card-content>
    </mat-card>
  </div>
</mat-card>
