<div class="container mt-5">
  <form [formGroup]="leaveForm" class="example-form" (ngSubmit)="onSubmit() ">
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input type="Number" matInput formControlName="Id" placeholder="Id">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="Name" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>LastName</mat-label>
      <input matInput type="text" formControlName="LastName" placeholder="LastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>GPN</mat-label>
      <input matInput type="text" formControlName="GPN" placeholder="GPN">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Select Servive Line</mat-label>
      <mat-select formControlName="ServiceLine">
        <mat-option  *ngFor="let serviceLine  of serviceLineArray" [value]="serviceLine">
          {{serviceLine}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="primary">Submit</button>

    <!-- <mat-form-field appearance="fill">
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </mat-form-field> -->



  </form>

</div>
